/bin/win32/Debug/*.pdb
/build/win32/*.sdf
/build/win32/SDL2.dll
/build/win32/AsdfMultiplat.v12.suo
/build/win32/glew32.dll
/build/win32/ipch/asdfmultiplat-dda67d59/*.ipch

obj
bin
/*/bin
/lib/linux/libasdfm.so
/lib/linux/libhexmap.so

*.sublime-workspace
*.tags
*.tags_sorted_by_file
*.project
*.cproject
*.pro.user

/docs/

asdf_multiplat/obj

/gurps_track/src/CMakeFiles/
/gurps_track/src/Makefile
/gurps_track/src/gurps_track
/gurps_track_old

.driverc
git_token
/__kiui_test/
files_linux
/dasmusic/
    todo
    /include/SDL

ext/glm/doc


#hexmap qt symlinks; don't commit for cross-platform reasons
/hexmap_qt/assets
/hexmap_qt/data
/include/hexmap

#hexmap build stuff
/hexmap/obj
/hexmap_qt/build-hexmap_widgets*


#windows
.vs/
/build/win32/
*.vcxproj.filters
*.vcxproj.user
*.opendb
*.VC.db
Thumbs.db
ipch

/lib/win32/*